{% extends 'base.html.twig' %}

{% block title %}Commerce {% endblock %}

{% block body %}
    <h1>Commerce</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Commercants</th>
                <th>Email</th>
                <th>Telephoe</th>
                <th>Siren</th>
                <th>Iban</th>
                <th>Site</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commerce in commerces %}
            <tr>
                <td>{{ commerce.id }}</td>
                <td>{{ commerce.commercants }}</td>
                <td>{{ commerce.email }}</td>
                <td>{{ commerce.telephoe }}</td>
                <td>{{ commerce.siren }}</td>
                <td>{{ commerce.iban }}</td>
                <td>{{ commerce.site }}</td>
                <td>
                    <a href="{{ path('commerce_show', {'id': commerce.id}) }}">show</a>
                    <a href="{{ path('commerce_edit', {'id': commerce.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('commerce_new') }}">Create new</a>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="checkout-header">Passer à la version premium</h1>
            </div>
            <div class="col-xs-12 col-sm-6">
                <form action="" method="POST">
                    <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_test_51IiJI1H3vU0glDfYtNHTQlTHuoqSvfM8rYnGmfvD44H7j4mre7vHbMIdQpQU7wNAZCJKgZl1vAxBQzGIEUFqT5kj00wRzZtIp4"
                        data-amount="3000"
                        data-label="Payer par carte"
                        data-name="Version premium"
                        data-currency="EUR"
                        data-locale="fr"
                    </script>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
